<html>
<head>
  <link rel="stylesheet" href="/css/foundation.min.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="/css/style.css" media="screen" title="no title" charset="utf-8">
  <title>Foundation is da bomb.</title>
</head>

<body>
  <div class="callout">
    <div class="row">
      <div class="columns">
        <%= yield %>
      </div>
    </div>
  </div>

</body>
</html>
