/* organize your css - HTML elements, then classes, then IDs, and each section alphabetized
 */
/* h4, h6 {
  color: blue;
}

h6 {

}

p {
  font-weight: bold;
}

.callout h6{
  color: red;
}

.green-text {
  color: green;
  text-align: center;
}
 */
